.custom-navbar {
  background-color: #ffffff; /* zelfde donker als bootstrap dark */
  padding: 12px 0;
  
}

.nav-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 12px
}

.nav-brand {
  color: #a07878;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
}

.nav-links a {
  margin-left: 20px;
  color: #bbb;
  text-decoration: none;
  font-size: 16px;
}

.nav-links a:hover {
  color: #fff;
}
